extends layout 
include vinyl_list_mixin
block content 
    div(id="genre-detail-page")
        h1 #{title} #{genre.name}
        div(class="detail-buttons")
            a(class="button-27" href=`${genre.url}/update`) Update Genre
            a(class="button-27" href=`${genre.url}/delete`) Delete Genre
        +list_vinyls("Vinyls in Genre", all_vinyls)

