doctype html
html
  head
    title= "Vintage Vinyls Inventory Manager"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a(href="/")
        span(id="header-vv") Vintage Vinyls 
        span(id="header-im") Inventory Manager
      nav(id="header-nav")
        a(href="/catalog/vinyl") Vinyls
        a(href="/catalog/genre") Genres 
        a(href="/catalog/artist") Artists
      
    block content
