extends layout 
include vinyl_list_mixin
block content 
    div(id="vinyl-list-page")
        a(class="button-27" href="/catalog/vinyl/create") Add Vinyl
        +list_vinyls(title, all_vinyls)
        
        